.cleaner-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.dashboard-sections {
  display: flex;
  margin-bottom: 20px;
}

.dashboard-section:not(:last-child) {
  margin-right: 20px;
}

.cleaner-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h2 {
  color: #333;
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}
.notifications {
  flex: 1; 
}

.notifications {
  margin-bottom: 30px;
}
.notifications table {
  border-collapse: collapse;
  width: 100%;
}

.notifications th,
.notifications td {
  padding: 8px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.notifications th {
  background-color: #f2f2f2;
}


.notifications h3 {
  color: #333;
  margin-bottom: 10px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.response {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 80px;
  text-align: center;
}

.accept {
  background-color: #28a745;
}

.decline {
  background-color: #dc3545;
}

.reviews {
  text-align: center;
  margin-top: 20px;
}
.reviews {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.review p {
  flex: 1;
  margin-right: 10px;
   color: #333;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
  background-color: #ffc107;
  clip-path: polygon(
    50% 0%,
    61.8% 38.2%,
    100% 35.4%,
    69.1% 57.3%,
    82.6% 91.6%,
    50% 70.9%,
    17.4% 91.6%,
    30.9% 57.3%,
    0% 35.4%,
    38.2% 38.2%
  );
}
