/* General styles */



/* Dark Mode */
.notification-container.dark-mode {
  background-color: #1a333f;
  color: white;
}

.header.dark-mode {
  padding: 20px;
}

.back-button.dark-mode {
  margin: 0;
  font-size: 16px;
  font-style: normal;
}

.notification-title.dark-mode {
  font-size: 42px;
  margin-right: 60%;
  color: white;
}

.user-info.dark-mode {
  background-color: #222;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sort-container.dark-mode {
  margin-top: 20px;
}

.sort-label.dark-mode {
  font-size: 18px;
  margin-right: 15px;
}

.sort-select.dark-mode {
  font-size: 16px;
}

.notification-item.dark-mode {
  background-color: #111;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-text.dark-mode {
  font-size: 18px;
  color: white;
}

.stato1.dark-mode {
  font-size: 18px;
  color: green;
}

.notification-timestamp.dark-mode {
  font-size: 14px;
}

.stats2.dark-mode {
  background-color: #222;
  margin-left: 80px;
  margin-top: 20px;
  padding: 30px;
  position: sticky;
  top: 0;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer.dark-mode {
  font-size: 14px;
  padding: 15px;
  background-color: #1a333f;
  color: white;
}

.header2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: transparent;
  color: white;
  z-index: 1000; /* Make sure it's above other content */
}


.logo {
  width: 50px;
  height: auto;
}

.navlinky {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.navlinky a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.navlinky a:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}


.notification-container {

  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.main-content {
  display: flex;
}

/* Header */
.header2 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 360px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #2980b9;
}

.notification-title1 {
  margin-top: 70px;
  font-size: 44px;
  color: #858181;

}

/* User Info */
.user-info {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

/* Sort Container */
.sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort-label {
  font-weight: bold;
  margin-right: 10px;
}

.sort-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Notification List */
.notification-list {
  width: 100%;
  max-width: 800px;
}

.notification-item {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.accepted {
  border-left: 4px solid #28a745;
}

.denied {
  border-left: 4px solid #dc3545;
}

.notification-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.notification-content {
  flex: 1;
}

.notification-text {
  color: #333;
  margin: 0;
}

.notification-timestamp {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

/* Stats */
.stats2 {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.stats-circle2 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-circle2 {
  width: 100%;
  height: 100%;
  border: 10px solid #eee;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.inner-circle2 {
  width: 100%;
  height: 100%;
  border: 10px solid #3498db;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0px, 60px, 120px, 0px);
  transform: rotate(0deg);
}

.stat-label2 {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  color:white;
}

.stat-number2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Footer */
.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 14px;
  color: #888;
}

/* Ultramodern styles */
.notification-container {
  background-color: #1a333f;
  color:white;
}

.header {
  padding: 20px;
}

.back-button {
  margin: 0;
  font-size: 16px;
  font-style: normal;
}

.notification-title {
  font-size: 42px;
  margin-right: 60%;
  color: white;
}

.user-info {
  background-color: #222;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sort-container {
  margin-top: 20px;
}

.sort-label {
  font-size: 18px;
  margin-right: 15px;
}

.sort-select {
  font-size: 16px;
}

.notification-list {
  margin-top: 20px;
  
}

.notification-item {
  background-color: #111;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-text {
  font-size: 18px;
  color:white;
}

.stato1 {
  font-size: 18px;
  color: green;
}

.notification-timestamp {
  font-size: 14px;
}

.stats2 {
  background-color: #222;
  margin-left: 80px;
  margin-top: 20px;
  padding: 30px;
  position: sticky;
  top: 0; /* Stick to the top of the container */
  right: 0; /* Stick to the right margin */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}


.main-content {
  display: flex;
  justify-content: space-between;
}

.notification-list {
  flex: 1;
  /* Your existing styles */
}

.stats-sidebar {
  width: 200px; /* Adjust the width as needed */
  margin-left: 20px; /* Add some margin to separate from main content */
}

.footer {
  font-size: 14px;
  padding: 15px;
  background-color: #1a333f;
  color: white;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .user-info,
  .stats {
    padding: 15px;
  }
  
  .notification-item {
    padding: 15px;
  }
}



/* Dark mode styles */
.dark-mode {
  background-color: #1a1a1a;
  color: white;
}

.dark-mode-header {
  background-color: #111;
}

/* Light mode styles */
.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

.light-mode-header {
  background-color: #1c2631;
}


/* Light Mode */
.notification-container.light-mode {
  background-color: #f5f5f5;
  color: #000000;
}

.header2.light-mode {
  background-color: transparent;
  color: white;
}

.back-button.light-mode {
  background-color: #3498db;
  color: white;
}

.notification-title.light-mode {
  font-size: 24px;
  color: #000000;
  background-color: #000000;
}

.user-info.light-mode {
  background-color: white;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-container.light-mode {
  margin-top: 20px;
}

.sort-label.light-mode {
  font-weight: bold;
  margin-right: 10px;
}

.sort-select.light-mode {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.notification-item.light-mode {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-text.light-mode {
  color: #333;
}

.stato1.light-mode {
  color: green;
}

.notification-timestamp.light-mode {
  color: #888;
}

.stats2.light-mode {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.footer.light-mode {
  background-color: #f5f5f5;
  color: #888;
}




/* Theme switch styles */
.theme-switch {
  --toggle-size: 30px;
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius)
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* Theme switch actions */
.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em);
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.light-togglelabel {
 
  font-size: 18px;
  font-family: poppins;
  font-weight: 900;
  color:rgb(53, 93, 226);
}

.light-mode-holder {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}