/* App.css */

/* Reset default margin and padding */
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 3px;
  top: 50%; /* Center the icon vertically */
  transform: translateY(-50%); /* Adjust to vertically center the icon */
}


/* Global styles for the entire application */
.App {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Header section styles */
.App-header {
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
  color: white;
}

/* For example, in your App.css or any other CSS file */
body {
  font-family: 'Poppins', sans-serif;
}


.App-title {
  font-size: 24px;
}

/* Main content styles */
.App-content {
  padding: 20px;
}

/* Footer styles */
.App-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.btn2 {
  background-color: rgb(11, 106, 134);
  text-align: center;
  align-items: center;
  margin-bottom: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: aliceblue;
}

/* Styles for links */
.App-link {
  color: #4caf50;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}


/* Center the auth form horizontally and vertically */
.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Additional styles for the button and links */
.custom-text {
  font-size: 0.8em;
  font-weight: 500;
}

.highlightText {
  color: rgb(46, 184, 165);
  font-size: 0.8em;
  font-weight: 800;
}
